[defaults]
roles_path = roles
inventory = inventories/example/hosts.yml
remote_tmp = /tmp/${USER}/ansible
local_tmp = .ansible/tmp/local
stdout_callback = yaml
host_key_checking = True
interpreter_python = /usr/bin/python3
retry_files_enabled = False
forks = 20
gathering = smart
fact_caching = jsonfile
fact_caching_connection = .ansible/facts
fact_caching_timeout = 7200

[privilege_escalation]
become = True
become_method = sudo

[ssh_connection]
pipelining = True
